@import 'tailwindcss';

:root {
  --background: #fff8f0;
  --foreground: #1b1b1b;
}

@theme {
  --color-primary-300: #d84f00; 
  --color-primary-400: #ca4a00;
  --color-primary-500: #bb4500;
  --color-secondary-400: #ddccff;
  --color-background-color: var(--background);
  --color-foreground-color: var(--foreground);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  /* @media (prefers-color-scheme: dark) {
    body {
      background: var(--foreground);
      color: var(--background);
    }
  } */
}
